
.page-item.active .page-link {
    z-index: 3;
    color: var(--color3);
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    font-weight: bolder;
}
.page-item .page-link {
    color: var(--color3);
    font-weight: bolder;
}
.table-sm{
    cursor: pointer;
    
}

  #insert {
    background: rgb(192, 180, 180);
  }
  #insert input {
    margin-top: 10px;
    background: none;
    border: none;
    outline: none;
    line-height: 38px;
    width: 100%;
  }
  #insert > td {
    padding: 0;
    padding-left: 10px;
  }
  #add-staff {
    user-select: none;
    cursor: pointer;
    color: #ee5959;
    padding-right: 0px;
  }
  #Cancel-staff {
    user-select: none;
    cursor: pointer;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #ee5959;
  }
  #Save-staff {
    user-select: none;
    cursor: pointer;
    padding-right: 20px;
  }
  
  #Save-staff button{
      color: #ee5959;
      cursor: pointer;
      font-size: 14px;
      background: none;
      border: none;
      outline: none;
      font-weight: 400;
  }
  #insert input:focus{
      background: var(--text);
  }
  
