USE [QuanLyCafe3]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](20) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bill]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datecheckin] [datetime] NULL DEFAULT (getdate()),
	[datecheckout] [datetime] NULL DEFAULT (NULL),
	[status] [nvarchar](20) NOT NULL DEFAULT ((0)),
	[idaccount] [int] NOT NULL,
	[idtable] [int] NOT NULL,
	[Tongtien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[billinfo]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idbill] [int] NOT NULL,
	[idfood] [int] NOT NULL,
	[count] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[food]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[price] [float] NOT NULL,
	[idcategory] [int] NOT NULL,
	[image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhapsanpham]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhapsanpham](
	[idsanpham] [int] IDENTITY(1,1) NOT NULL,
	[idncc] [int] NULL,
	[tensanpham] [nvarchar](50) NULL,
	[tongtien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idsanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[staff]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[idstaff] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[position] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[idaccount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idstaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[staff_audit]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_audit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idstaff] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[changedate] [datetime] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tablefood]    Script Date: 6/8/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablefood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (1, N'admin', N'12345678', N'admin')
INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (3, N'user3', N'12345678', N'staff')
INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (5, N'user5', N'12345678', N'staff')
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (1, CAST(N'2020-04-26 14:37:01.410' AS DateTime), CAST(N'2020-04-26 14:37:51.387' AS DateTime), N'1', 1, 1, 352000)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (2, CAST(N'2020-04-26 15:30:06.283' AS DateTime), CAST(N'2020-04-26 15:30:29.027' AS DateTime), N'1', 3, 1, 145000)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (3, CAST(N'2020-04-27 17:53:10.783' AS DateTime), CAST(N'2020-04-27 17:53:17.950' AS DateTime), N'1', 8, 13, 58000)
SET IDENTITY_INSERT [dbo].[bill] OFF
SET IDENTITY_INSERT [dbo].[billinfo] ON 

INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (1, 1, 39, 4)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (2, 1, 30, 4)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (3, 2, 1, 5)
SET IDENTITY_INSERT [dbo].[billinfo] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name]) VALUES (1, N'CÀ PHÊ')
INSERT [dbo].[category] ([id], [name]) VALUES (2, N'TRÀ VÀ MACCHIATO')
INSERT [dbo].[category] ([id], [name]) VALUES (3, N'THỨC UỐNG ĐÁ XAY')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[food] ON 

INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (1, N'BẠC SỈU', 31900, 1, N'bạc sỉu.jpg')
INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (2, N'AMERICANO', 42900, 1, N'americano_large.jpg')
INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (3, N'CAPUCHINO', 49500, 1, N'capuchino.jpg')
SET IDENTITY_INSERT [dbo].[food] OFF
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (1, N'Phạm Văn Đình', N'Hoạt động', N'Ban Quản Lý', N'phamvandinh@gmail.com', 1)
INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (3, N'Tạ Quốc Hùng', N'Ngưng Hoạt động', N'Nhân Viên', N'taquochung@gmail.com', 3)
INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (5, N'Tạ Ngọc Hùng', N'Ngưng Hoạt động', N'Nhân Viên', N'dinhvjps@gmail.com', 5)
SET IDENTITY_INSERT [dbo].[staff] OFF
SET IDENTITY_INSERT [dbo].[staff_audit] ON 

INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (1, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 16:52:21.640' AS DateTime), N'Delete')
INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (2, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 17:06:31.953' AS DateTime), N'Insert')
INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (3, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 17:20:14.297' AS DateTime), N'Update')
SET IDENTITY_INSERT [dbo].[staff_audit] OFF
SET IDENTITY_INSERT [dbo].[tablefood] ON 

INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (1, N'Bàn 1', N'trống')
INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (2, N'Bàn 2', N'có người')
INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (3, N'Bàn 3', N'có người')
SET IDENTITY_INSERT [dbo].[tablefood] OFF
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idaccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idtable])
REFERENCES [dbo].[tablefood] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([idbill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([idfood])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD FOREIGN KEY([idcategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[nhapsanpham]  WITH CHECK ADD FOREIGN KEY([idncc])
REFERENCES [dbo].[nhacungcap] ([id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD FOREIGN KEY([idaccount])
REFERENCES [dbo].[account] ([id])
GO
/****** Object:  StoredProcedure [dbo].[add_bill]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[add_bill]
    @datecheckin DATETIME ,
    @datecheckout DATETIME ,
    @status NVARCHAR(20) ,
    @idaccount INT ,
    @idtable INT
AS
    BEGIN
        INSERT  dbo.bill
                ( datecheckin ,
                  datecheckout ,
                  status ,
                  idaccount ,
                  idtable
   	            )
        VALUES  ( @datecheckin ,
                  @datecheckout ,
                  @status ,
                  @idaccount ,
                  @idtable
                )
    END


GO
/****** Object:  StoredProcedure [dbo].[add_billinfo]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[add_billinfo]
@idbill INT,
@idfood INT,
@count INT
AS
BEGIN
	INSERT dbo.billinfo
	        ( idbill, idfood, count )
	VALUES  ( @idbill, -- idbill - int
	          @idfood, -- idfood - int
	          @count  -- count - int
	          )
END

GO
/****** Object:  StoredProcedure [dbo].[add_product]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_product]
			@name NVARCHAR(50),
			@price FLOAT,
			@idcategory INT,
			@image NVARCHAR(50)
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				INSERT dbo.food
				        ( name, price, idcategory, image )
				VALUES  ( @name, -- name - nvarchar(50)
				          @price, -- price - float
				          @idcategory, -- idcategory - int
				          @image  -- image - nvarchar(50)
				          )
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[addproduct]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addproduct]
@name NVARCHAR(50),
@price FLOAT ,
@idcategory INT,
@image NVARCHAR(50)
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
	INSERT dbo.food
	        ( name, price, idcategory, image )
	VALUES  ( @name, -- name - nvarchar(50)
	          @price, -- price - float
	          @idcategory, -- idcategory - int
	          @image  -- image - nvarchar(50)
	          )
END

GO
/****** Object:  StoredProcedure [dbo].[Addstaffaccount]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Addstaffaccount]
@name NVARCHAR(50),
@status NVARCHAR(20),
@position NVARCHAR(50),
@email NVARCHAR(50),
@idaccount INT,
@username VARCHAR(20),
@password VARCHAR(20),
@type NVARCHAR(20)
AS BEGIN

INSERT dbo.account
        ( username, password, type )
VALUES  ( @username ,@password,@type  )

INSERT dbo.staff
        ( name ,
          status ,
          position ,
          email ,
          idaccount
        )
VALUES  ( @name,@status,@position,@email,@idaccount)

END

GO
/****** Object:  StoredProcedure [dbo].[Addstaffaccountlatest]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Addstaffaccountlatest]
@name NVARCHAR(50),
@status NVARCHAR(20),
@position NVARCHAR(50),
@email NVARCHAR(50),
@idaccount INT,
@username VARCHAR(20),
@password VARCHAR(20),
@type NVARCHAR(20)
AS BEGIN

DECLARE @count INT = @idaccount;
SET @count = @idaccount -1;


DBCC CHECKIDENT ('dbo.account', RESEED, @count )
DBCC CHECKIDENT ('dbo.staff', RESEED, @count )

INSERT dbo.account
        ( username, password, type )
VALUES  ( @username ,@password,@type  )

INSERT dbo.staff
        ( name ,
          status ,
          position ,
          email ,
          idaccount
        )
VALUES  ( @name,@status,@position,@email,@idaccount)

END

GO
/****** Object:  StoredProcedure [dbo].[customer_table]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[customer_table]
@id INT
AS
BEGIN
	UPDATE dbo.tablefood SET status=N'có người' WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[delete_billinfo]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_billinfo]
@idbill INT
AS
BEGIN
DELETE FROM dbo.billinfo WHERE idbill=@idbill
END

GO
/****** Object:  StoredProcedure [dbo].[delete_billinfo_idfood]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_billinfo_idfood]
@idfood INT,
@idbill INT
AS
BEGIN
DELETE FROM dbo.billinfo WHERE idfood=@idfood AND idbill=@idbill
END

GO
/****** Object:  StoredProcedure [dbo].[delete_product]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
			CREATE PROCEDURE [dbo].[delete_product]
			@idproduct INT
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				DELETE dbo.food WHERE id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[deletestaffaccount]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deletestaffaccount] @id INT
AS
    BEGIN
        DELETE  FROM dbo.staff
        WHERE   idstaff = @id
        DELETE  FROM dbo.account
        WHERE   id = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[empty_table]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[empty_table]
@id INT
AS
BEGIN
	UPDATE dbo.tablefood SET status=N'trống' WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[filter_food]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[filter_food]
@idcategory int
AS
BEGIN
	SELECT  idcategory ,
        category.name AS 'Name Category',
        food.id ,
        dbo.food.name ,
        price ,
        image
FROM    dbo.category
        LEFT JOIN dbo.food ON food.idcategory = category.id
WHERE   category.id = @idcategory
END

GO
/****** Object:  StoredProcedure [dbo].[filter_food_2]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[filter_food_2] @idcategory INT
AS
    BEGIN
        SELECT  idcategory ,
                category.name AS 'Name Category' ,
                food.id ,
                dbo.food.name ,
                price ,
                image
        FROM    dbo.category
                LEFT JOIN dbo.food ON food.idcategory = category.id
        WHERE   category.id = @idcategory
    END

GO
/****** Object:  StoredProcedure [dbo].[get_info_product]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
			CREATE PROCEDURE [dbo].[get_info_product]
			@idproduct INT
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				
			SELECT dbo.food.id,dbo.food.name,price,idcategory,image,category.name AS nameCg FROM dbo.food LEFT JOIN dbo.category ON category.id = food.idcategory WHERE dbo.food.id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[get_receipt]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_receipt]
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
	SELECT dbo.bill.id,datecheckout,dbo.bill.idaccount,idtable,Tongtien,type,name FROM dbo.bill LEFT JOIN dbo.account ON account.id = bill.idaccount LEFT JOIN dbo.staff ON staff.idaccount = account.id WHERE dbo.bill.status='1'
END
	--	statements

GO
/****** Object:  StoredProcedure [dbo].[top10bestsell]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[top10bestsell]
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
	BEGIN
		SELECT  f.id
FROM    dbo.food f ,
        ( SELECT TOP ( 10 )
                    *
          FROM      ( SELECT    SUM(c.count) AS TREND ,
                                c.idfood
                      FROM      ( SELECT    a.idfood ,
                                            a.count
                                  FROM      dbo.billinfo a ,
                                            ( SELECT    id
                                              FROM      dbo.bill WHERE status='1'
                                            ) b
                                  WHERE     a.idbill = b.id
                                ) c
                      GROUP BY  c.idfood
                    ) d
          ORDER BY  d.TREND DESC
        ) e
WHERE   e.idfood = f.id
	END

GO
/****** Object:  StoredProcedure [dbo].[update_product]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_product]
			@idproduct INT,
			@name NVARCHAR(50),
			@price FLOAT,
			@idcategory INT,
			@image NVARCHAR(50)

				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
						UPDATE dbo.food SET name=@name,price=@price,idcategory=@idcategory,image=@image WHERE id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[updateimageproduct]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateimageproduct]
@id INT,
@image NVARCHAR(50)
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
UPDATE dbo.food SET image=@image WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[updatestaff]    Script Date: 6/8/2020 5:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updatestaff]
    @id INT ,
    @name NVARCHAR(50) ,
    @status NVARCHAR(20) ,
    @position NVARCHAR(50) ,
    @email NVARCHAR(50) ,
    @idaccount INT
AS
    BEGIN
        UPDATE  dbo.staff
        SET     name = @name ,
                status = @status ,
                position = @position ,
                email = @email ,
                idaccount = @idaccount
        WHERE   idstaff = @id
    END

GO
