USE [QuanLyCafe3]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](20) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [varchar](50) NOT NULL,
	[MaPhieuYC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bill]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datecheckin] [datetime] NULL DEFAULT (getdate()),
	[datecheckout] [datetime] NULL DEFAULT (NULL),
	[status] [nvarchar](20) NOT NULL DEFAULT ((0)),
	[idaccount] [int] NOT NULL,
	[idtable] [int] NOT NULL,
	[Tongtien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[billinfo]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idbill] [int] NOT NULL,
	[idfood] [int] NOT NULL,
	[count] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BoPhan](
	[MaBP] [varchar](50) NOT NULL,
	[TenBP] [nvarchar](200) NOT NULL,
	[MaTruongBP] [varchar](50) NULL,
 CONSTRAINT [PK__BoPhan__272475ABA271B281] PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[food]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[price] [float] NOT NULL,
	[idcategory] [int] NOT NULL,
	[image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[SoHD] [varchar](50) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[TongTien] [int] NOT NULL,
	[MaPhieuYC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoHD] [varchar](50) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[TongTien] [int] NOT NULL,
	[MaPhieuNhap] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manager](
	[id] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [varchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[DonGia] [int] NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[MaNhom] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [varchar](50) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[DonGia] [int] NOT NULL,
	[MaNCC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [varchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[Luong] [int] NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[MaBP] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhapsanpham]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhapsanpham](
	[idsanpham] [int] IDENTITY(1,1) NOT NULL,
	[idncc] [int] NULL,
	[tensanpham] [nvarchar](50) NULL,
	[tongtien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idsanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomMon]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhomMon](
	[MaNhom] [varchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [varchar](50) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuYeuCau]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuYeuCau](
	[MaPhieuYC] [varchar](50) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[staff]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[idstaff] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[position] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[idaccount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idstaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[staff_audit]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_audit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idstaff] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[changedate] [datetime] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tablefood]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablefood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YeuCau]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YeuCau](
	[MaPhieuYC] [varchar](50) NOT NULL,
	[MaMon] [varchar](50) NOT NULL,
	[SoLuongMon] [int] NOT NULL,
 CONSTRAINT [yc_pk] PRIMARY KEY CLUSTERED 
(
	[MaPhieuYC] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YeuCauNhap]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YeuCauNhap](
	[MaNL] [varchar](50) NOT NULL,
	[MaPhieuNhap] [varchar](50) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
 CONSTRAINT [YcNhap_pk] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC,
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (1, N'admin', N'12345678', N'admin')
INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (3, N'user3', N'12345678', N'staff')
INSERT [dbo].[account] ([id], [username], [password], [type]) VALUES (4, N'user4', N'12345678', N'staff')
SET IDENTITY_INSERT [dbo].[account] OFF
INSERT [dbo].[Ban] ([MaBan], [MaPhieuYC]) VALUES (N'TT001', N'YC001')
INSERT [dbo].[Ban] ([MaBan], [MaPhieuYC]) VALUES (N'TT002', N'YC002')
INSERT [dbo].[Ban] ([MaBan], [MaPhieuYC]) VALUES (N'TT003', N'YC003')
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (1, CAST(N'2020-04-26 14:37:01.410' AS DateTime), CAST(N'2020-04-26 14:37:51.387' AS DateTime), N'1', 1, 1, 352000)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (2, CAST(N'2020-04-26 15:30:06.283' AS DateTime), CAST(N'2020-04-26 15:30:29.027' AS DateTime), N'1', 3, 1, 145000)
INSERT [dbo].[bill] ([id], [datecheckin], [datecheckout], [status], [idaccount], [idtable], [Tongtien]) VALUES (3, CAST(N'2020-04-27 17:53:10.783' AS DateTime), CAST(N'2020-04-27 17:53:17.950' AS DateTime), N'1', 8, 13, 58000)
SET IDENTITY_INSERT [dbo].[bill] OFF
SET IDENTITY_INSERT [dbo].[billinfo] ON 

INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (1, 1, 39, 4)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (2, 1, 30, 4)
INSERT [dbo].[billinfo] ([id], [idbill], [idfood], [count]) VALUES (3, 2, 1, 5)
SET IDENTITY_INSERT [dbo].[billinfo] OFF
INSERT [dbo].[BoPhan] ([MaBP], [TenBP], [MaTruongBP]) VALUES (N'RR001', N'Phục vụ', N'NV001')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP], [MaTruongBP]) VALUES (N'RR002', N'Nấu nướng', N'NV004')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP], [MaTruongBP]) VALUES (N'RR003', N'Dọn dẹp', NULL)
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name]) VALUES (1, N'CÀ PHÊ')
INSERT [dbo].[category] ([id], [name]) VALUES (2, N'TRÀ VÀ MACCHIATO')
INSERT [dbo].[category] ([id], [name]) VALUES (3, N'THỨC UỐNG ĐÁ XAY')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[food] ON 

INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (1, N'BẠC SỈU', 29000, 1, N'bạc sỉu.jpg')
INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (2, N'AMERICANO', 39000, 1, N'americano_large.jpg')
INSERT [dbo].[food] ([id], [name], [price], [idcategory], [image]) VALUES (3, N'CAPUCHINO', 45000, 1, N'capuchino.jpg')
SET IDENTITY_INSERT [dbo].[food] OFF
INSERT [dbo].[HoaDon] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuYC]) VALUES (N'HD001', CAST(N'2019-11-15 00:00:00.000' AS DateTime), 1, 900000, N'YC001')
INSERT [dbo].[HoaDon] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuYC]) VALUES (N'HD002', CAST(N'2019-11-18 00:00:00.000' AS DateTime), 1, 1500000, N'YC002')
INSERT [dbo].[HoaDon] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuYC]) VALUES (N'HD003', CAST(N'2019-11-20 00:00:00.000' AS DateTime), 1, 600000, N'YC003')
INSERT [dbo].[HoaDonNhap] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuNhap]) VALUES (N'HDN01', CAST(N'2019-10-15 00:00:00.000' AS DateTime), 1, 10000000, N'IP001')
INSERT [dbo].[HoaDonNhap] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuNhap]) VALUES (N'HDN02', CAST(N'2019-10-16 00:00:00.000' AS DateTime), 1, 7000000, N'IP002')
INSERT [dbo].[HoaDonNhap] ([SoHD], [NgayThanhToan], [TrangThai], [TongTien], [MaPhieuNhap]) VALUES (N'HDN03', CAST(N'2019-10-17 00:00:00.000' AS DateTime), 1, 25000000, N'IP003')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH001', N'Nguyễn Thanh Bình', N'3421857')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH002', N'Nguyễn Trung Sơn', N'3425923')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH003', N'Nguyễn Xuân Khiêm', N'3453382')
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [DonVi], [MaNhom]) VALUES (N'BXH', N'Bò xào hành', 300000, N'Đĩa', N'FMX')
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [DonVi], [MaNhom]) VALUES (N'CHB', N'Cua hấp bia', 300000, N'Con', N'FMH')
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [DonVi], [MaNhom]) VALUES (N'CHS', N'Cơm rang hải sản', 150000, N'Đĩa', N'FMC')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC]) VALUES (N'FF001', N'Cá chép', 100000, N'NC001')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC]) VALUES (N'FF002', N'Cá quả', 120000, N'NC001')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC]) VALUES (N'FF003', N'Cá thu', 140000, N'NC001')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NC001', N'Cửa hàng cá', N'16 Tây Hồ', N'3785642')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NC002', N'Cửa hàng rau', N'8 Đống Đa', N'3725829')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NC003', N'Cửa hàng thịt', N'14 Trần Nhân Tông', N'3785823')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [Luong], [SDT], [MaBP]) VALUES (N'NV001', N'Nguyễn Văn An', CAST(N'1993-02-15 00:00:00.000' AS DateTime), 0, N'26 Hồ Tùng Mậu', 8000000, N'3759340', N'RR001')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [Luong], [SDT], [MaBP]) VALUES (N'NV002', N'Trần Văn Minh', CAST(N'1992-04-25 00:00:00.000' AS DateTime), 0, N'15 Giảng Võ', 8000000, N'3759231', N'RR001')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [Luong], [SDT], [MaBP]) VALUES (N'NV003', N'Phạm Văn Hùng', CAST(N'1992-11-04 00:00:00.000' AS DateTime), 0, N'14 Ba Đình', 8000000, N'3724850', N'RR001')
INSERT [dbo].[NhomMon] ([MaNhom], [TenNhom]) VALUES (N'FMC', N'Món cơm')
INSERT [dbo].[NhomMon] ([MaNhom], [TenNhom]) VALUES (N'FMH', N'Món hấp')
INSERT [dbo].[NhomMon] ([MaNhom], [TenNhom]) VALUES (N'FMN', N'Món nướng')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNV]) VALUES (N'IP001', CAST(N'2019-10-15 00:00:00.000' AS DateTime), N'NV010')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNV]) VALUES (N'IP002', CAST(N'2019-10-16 00:00:00.000' AS DateTime), N'NV010')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [MaNV]) VALUES (N'IP003', CAST(N'2019-10-17 00:00:00.000' AS DateTime), N'NV011')
INSERT [dbo].[PhieuYeuCau] ([MaPhieuYC], [NgayNhap], [MaKH], [MaNV]) VALUES (N'YC001', CAST(N'2019-11-15 00:00:00.000' AS DateTime), N'KH001', N'NV001')
INSERT [dbo].[PhieuYeuCau] ([MaPhieuYC], [NgayNhap], [MaKH], [MaNV]) VALUES (N'YC002', CAST(N'2019-11-18 00:00:00.000' AS DateTime), N'KH002', N'NV001')
INSERT [dbo].[PhieuYeuCau] ([MaPhieuYC], [NgayNhap], [MaKH], [MaNV]) VALUES (N'YC003', CAST(N'2019-11-20 00:00:00.000' AS DateTime), N'KH002', N'NV001')
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (1, N'Phạm Văn Đình', N'Hoạt động', N'Ban Quản Lý', N'phamvandinh@gmail.com', 1)
INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (3, N'Tạ Quốc Hùng', N'Ngưng Hoạt động', N'Nhân Viên', N'taquochung@gmail.com', 3)
INSERT [dbo].[staff] ([idstaff], [name], [status], [position], [email], [idaccount]) VALUES (4, N'Nghiêm Khắc Lâm', N'Ngưng Hoạt động', N'Nhân Viên', N'khaclam@gmail.com', 4)
SET IDENTITY_INSERT [dbo].[staff] OFF
SET IDENTITY_INSERT [dbo].[staff_audit] ON 

INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (1, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 16:52:21.640' AS DateTime), N'Delete')
INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (2, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 17:06:31.953' AS DateTime), N'Insert')
INSERT [dbo].[staff_audit] ([id], [idstaff], [name], [changedate], [action]) VALUES (3, 7, N'Trịnh Ngọc Trinh', CAST(N'2020-04-13 17:20:14.297' AS DateTime), N'Update')
SET IDENTITY_INSERT [dbo].[staff_audit] OFF
SET IDENTITY_INSERT [dbo].[tablefood] ON 

INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (1, N'Bàn 1', N'trống')
INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (2, N'Bàn 2', N'có người')
INSERT [dbo].[tablefood] ([id], [name], [status]) VALUES (3, N'Bàn 3', N'có người')
SET IDENTITY_INSERT [dbo].[tablefood] OFF
INSERT [dbo].[YeuCau] ([MaPhieuYC], [MaMon], [SoLuongMon]) VALUES (N'YC001', N'BXH', 3)
INSERT [dbo].[YeuCau] ([MaPhieuYC], [MaMon], [SoLuongMon]) VALUES (N'YC002', N'CHB', 5)
INSERT [dbo].[YeuCau] ([MaPhieuYC], [MaMon], [SoLuongMon]) VALUES (N'YC003', N'CHS', 4)
INSERT [dbo].[YeuCauNhap] ([MaNL], [MaPhieuNhap], [SoLuongNhap]) VALUES (N'FF001', N'IP001', 100)
INSERT [dbo].[YeuCauNhap] ([MaNL], [MaPhieuNhap], [SoLuongNhap]) VALUES (N'FR002', N'IP002', 200)
INSERT [dbo].[YeuCauNhap] ([MaNL], [MaPhieuNhap], [SoLuongNhap]) VALUES (N'MM003', N'IP003', 100)
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD FOREIGN KEY([MaPhieuYC])
REFERENCES [dbo].[PhieuYeuCau] ([MaPhieuYC])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idaccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idtable])
REFERENCES [dbo].[tablefood] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([idbill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[billinfo]  WITH CHECK ADD FOREIGN KEY([idfood])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD FOREIGN KEY([idcategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhieuYC])
REFERENCES [dbo].[PhieuYeuCau] ([MaPhieuYC])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomMon] ([MaNhom])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MaBP__1BFD2C07] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhan] ([MaBP])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__MaBP__1BFD2C07]
GO
ALTER TABLE [dbo].[nhapsanpham]  WITH CHECK ADD FOREIGN KEY([idncc])
REFERENCES [dbo].[nhacungcap] ([id])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuYeuCau]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuYeuCau]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD FOREIGN KEY([idaccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD FOREIGN KEY([MaPhieuYC])
REFERENCES [dbo].[PhieuYeuCau] ([MaPhieuYC])
GO
ALTER TABLE [dbo].[YeuCauNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[YeuCauNhap]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
/****** Object:  StoredProcedure [dbo].[add_bill]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[add_bill]
    @datecheckin DATETIME ,
    @datecheckout DATETIME ,
    @status NVARCHAR(20) ,
    @idaccount INT ,
    @idtable INT
AS
    BEGIN
        INSERT  dbo.bill
                ( datecheckin ,
                  datecheckout ,
                  status ,
                  idaccount ,
                  idtable
   	            )
        VALUES  ( @datecheckin ,
                  @datecheckout ,
                  @status ,
                  @idaccount ,
                  @idtable
                )
    END


GO
/****** Object:  StoredProcedure [dbo].[add_billinfo]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[add_billinfo]
@idbill INT,
@idfood INT,
@count INT
AS
BEGIN
	INSERT dbo.billinfo
	        ( idbill, idfood, count )
	VALUES  ( @idbill, -- idbill - int
	          @idfood, -- idfood - int
	          @count  -- count - int
	          )
END

GO
/****** Object:  StoredProcedure [dbo].[add_product]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_product]
			@name NVARCHAR(50),
			@price FLOAT,
			@idcategory INT,
			@image NVARCHAR(50)
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				INSERT dbo.food
				        ( name, price, idcategory, image )
				VALUES  ( @name, -- name - nvarchar(50)
				          @price, -- price - float
				          @idcategory, -- idcategory - int
				          @image  -- image - nvarchar(50)
				          )
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[addproduct]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addproduct]
@name NVARCHAR(50),
@price FLOAT ,
@idcategory INT,
@image NVARCHAR(50)
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
	INSERT dbo.food
	        ( name, price, idcategory, image )
	VALUES  ( @name, -- name - nvarchar(50)
	          @price, -- price - float
	          @idcategory, -- idcategory - int
	          @image  -- image - nvarchar(50)
	          )
END

GO
/****** Object:  StoredProcedure [dbo].[Addstaffaccount]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Addstaffaccount]
@name NVARCHAR(50),
@status NVARCHAR(20),
@position NVARCHAR(50),
@email NVARCHAR(50),
@idaccount INT,
@username VARCHAR(20),
@password VARCHAR(20),
@type NVARCHAR(20)
AS BEGIN

INSERT dbo.account
        ( username, password, type )
VALUES  ( @username ,@password,@type  )

INSERT dbo.staff
        ( name ,
          status ,
          position ,
          email ,
          idaccount
        )
VALUES  ( @name,@status,@position,@email,@idaccount)

END

GO
/****** Object:  StoredProcedure [dbo].[Addstaffaccountlatest]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Addstaffaccountlatest]
@name NVARCHAR(50),
@status NVARCHAR(20),
@position NVARCHAR(50),
@email NVARCHAR(50),
@idaccount INT,
@username VARCHAR(20),
@password VARCHAR(20),
@type NVARCHAR(20)
AS BEGIN

DECLARE @count INT = @idaccount;
SET @count = @idaccount -1;


DBCC CHECKIDENT ('dbo.account', RESEED, @count )
DBCC CHECKIDENT ('dbo.staff', RESEED, @count )

INSERT dbo.account
        ( username, password, type )
VALUES  ( @username ,@password,@type  )

INSERT dbo.staff
        ( name ,
          status ,
          position ,
          email ,
          idaccount
        )
VALUES  ( @name,@status,@position,@email,@idaccount)

END

GO
/****** Object:  StoredProcedure [dbo].[customer_table]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[customer_table]
@id INT
AS
BEGIN
	UPDATE dbo.tablefood SET status=N'có người' WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[delete_billinfo]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_billinfo]
@idbill INT
AS
BEGIN
DELETE FROM dbo.billinfo WHERE idbill=@idbill
END

GO
/****** Object:  StoredProcedure [dbo].[delete_billinfo_idfood]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_billinfo_idfood]
@idfood INT,
@idbill INT
AS
BEGIN
DELETE FROM dbo.billinfo WHERE idfood=@idfood AND idbill=@idbill
END

GO
/****** Object:  StoredProcedure [dbo].[delete_product]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
			CREATE PROCEDURE [dbo].[delete_product]
			@idproduct INT
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				DELETE dbo.food WHERE id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[deletestaffaccount]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deletestaffaccount] @id INT
AS
    BEGIN
        DELETE  FROM dbo.staff
        WHERE   idstaff = @id
        DELETE  FROM dbo.account
        WHERE   id = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[empty_table]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[empty_table]
@id INT
AS
BEGIN
	UPDATE dbo.tablefood SET status=N'trống' WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[get_info_product]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
			CREATE PROCEDURE [dbo].[get_info_product]
			@idproduct INT
				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
				
			SELECT dbo.food.id,dbo.food.name,price,idcategory,image,category.name AS nameCg FROM dbo.food LEFT JOIN dbo.category ON category.id = food.idcategory WHERE dbo.food.id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[get_receipt]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_receipt]
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
	SELECT dbo.bill.id,datecheckout,dbo.bill.idaccount,idtable,Tongtien,type,name FROM dbo.bill LEFT JOIN dbo.account ON account.id = bill.idaccount LEFT JOIN dbo.staff ON staff.idaccount = account.id WHERE dbo.bill.status='1'
END
	--	statements

GO
/****** Object:  StoredProcedure [dbo].[top10bestsell]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[top10bestsell]
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
	BEGIN
		SELECT  f.id
FROM    dbo.food f ,
        ( SELECT TOP ( 10 )
                    *
          FROM      ( SELECT    SUM(c.count) AS TREND ,
                                c.idfood
                      FROM      ( SELECT    a.idfood ,
                                            a.count
                                  FROM      dbo.billinfo a ,
                                            ( SELECT    id
                                              FROM      dbo.bill WHERE status='1'
                                            ) b
                                  WHERE     a.idbill = b.id
                                ) c
                      GROUP BY  c.idfood
                    ) d
          ORDER BY  d.TREND DESC
        ) e
WHERE   e.idfood = f.id
	END

GO
/****** Object:  StoredProcedure [dbo].[update_product]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_product]
			@idproduct INT,
			@name NVARCHAR(50),
			@price FLOAT,
			@idcategory INT,
			@image NVARCHAR(50)

				--@parameter_name AS scalar_data_type ( = default_value ), ...
			-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
			AS
			BEGIN
						UPDATE dbo.food SET name=@name,price=@price,idcategory=@idcategory,image=@image WHERE id=@idproduct
			END
				--	statements

GO
/****** Object:  StoredProcedure [dbo].[updateimageproduct]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateimageproduct]
@id INT,
@image NVARCHAR(50)
	--@parameter_name AS scalar_data_type ( = default_value ), ...
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS
BEGIN
UPDATE dbo.food SET image=@image WHERE id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[updatestaff]    Script Date: 6/3/2020 6:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updatestaff]
    @id INT ,
    @name NVARCHAR(50) ,
    @status NVARCHAR(20) ,
    @position NVARCHAR(50) ,
    @email NVARCHAR(50) ,
    @idaccount INT
AS
    BEGIN
        UPDATE  dbo.staff
        SET     name = @name ,
                status = @status ,
                position = @position ,
                email = @email ,
                idaccount = @idaccount
        WHERE   idstaff = @id
    END

GO
