@model IEnumerable<CAFE_Song_Lo.Models.category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/product/order.css" rel="stylesheet" />
<link href="~/assets/product/product.css" rel="stylesheet" />
@*thư viện toastr*@
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<title>Order</title>
@if (ViewBag.temp == 3)
{
    <script type="text/javascript">toastr.warning('Xin mời chọn món trước khi xác nhận.', 'Thông báo');</script>
}
@if (ViewBag.temp == 4)
{
    <script type="text/javascript">toastr.warning('Xin mời chọn món trước khi thanh toán.', 'Thông báo');</script>
}
<div class="oderitem">
    <div class="tableoder" id="cartt">
        <header>
            <h2>Chọn đồ Bàn @ViewBag.idtable :</h2><h3>@DateTime.Now.ToShortDateString() @DateTime.Now.ToLongTimeString()</h3>
        </header>
        <div id="cart">
            @*Không dùng Action bởi vì nó không render đồng thời cùng web mà sau khi có tương tác*@
            @{ Html.RenderAction("cart");}
        </div>

        <div class="buttonlist">
            <a href="/admin/home/index?id=@ViewBag.idtable&temp=1" style="text-decoration:none;">
                <button class="confirm">Xác Nhận</button>
            </a>
            <a href="/admin/home/bill?id=@ViewBag.idtable&temp=2" style="text-decoration:none;" onclick="return confirm('Bạn có xác nhận thanh toán ??');"> <button class="bill">In hoá đơn và Thanh Toán</button></a>

        </div>
    </div>
    <div class="category">
        <div style="width: 240px; background-color: whitesmoke;padding: 30px;position: fixed;">
            <span style="font-size: 20px;">Hạng mục món ăn.<br /></span>
            @foreach (var item in Model)
            {
                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#listproduct" href="/admin/order/viewProduct?id=@item.id" class="categoryitem">@item.name</a><br />
            }

        </div>
    </div>
</div>
<div class="productitem">
    <div class="listproduct" id="listproduct">
        @{Html.RenderAction("viewProduct", new { id = Session["idcate"] } ); }
    </div>
</div>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
                /* khi người dùng tương tác với lịch sử duyệt web, sẽ bắt sự kiện chuyển hướng đến 1 trang ko có trong lịch sử hiện tại,chính là cái mà pushstate tạo ra bên trên =)) */
                history.go(1);
            };
</script>